extends layout

block content
    h1= "Edit Employee"
    div.newemployee
        form( method="post")
            input(name="_id", type="hidden", value=employee._id.toHexString()) 
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editEmployeeTitle", value=[title])
                div
                    span.label Name :
                    input(type="text", name="name", id="editEmployeeName", value=employee.name)
                div#editEmployeeSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Employee List"